<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connstr" value="DATA SOURCE=192.168.20.6; INITIAL CATALOG=ojos2; PERSIST SECURITY INFO=true; USER ID=sa; PASSWORD=123456;"/>
    <add key="hostid" value="evecchio"/>
    <add key="udp_host" value="190.2.37.193"/>
    <add key="udp_port" value="4040"/>
    <add key="watch_filter" value="*.xxx"/>
    <add key="before_parse_sleep" value="2000"/>
    <add key="log_file" value="C:\Documents and Settings\evecchio\Mis documentos\src\src\lomax\tickets\ticketes.log"/>
    <add key="watch_path" value="C:\Documents and Settings\evecchio\Mis documentos\src\src\lomax\tickets\"/>
  </appSettings>
</configuration>