<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <parsers>
      <!-- Registering the parsers for DatabaseNamespace and TransactionNamespace  -->
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.ConnectionStringsVariableSource, Spring.Core" />
          </list>
        </property>
      </object>
      <tx:attribute-driven />
        
      <!-- MSMQ Transaction Manager -->
      <object id="transactionManager" type="Spring.Messaging.Core.MessageQueueTransactionManager, Spring.Messaging" />
      <object id="gatewayClientController" type="Logictracker.Tracker.Application.Parser.Host.GatewayParserClientController, Logictracker.Tracker.Application.Parser.Host" init-method="Start" destroy-method="Stop">
        <property name="ProtocolServers">
          <list>
            <object type="Logictracker.Tracker.Parser.Caesat.Comm.CaesatParserClient, Logictracker.Tracker.Parser.Caesat.Comm">
              <property name="Parser" ref="caesatParser" />
              <property name="Translator" ref="caesatTranslator" />
              <property name="Port" value="5006" />
              <property name="Ip" value="200.11.113.51" />
              <property name="Ip2" value="190.220.14.98" />
            </object>
          </list>
        </property>
        <property name="TrackMessageQueueTemplate" ref="trackMessageQueueTemplate" />
      </object>
      
      <object id="caesatParser" type="Logictracker.Tracker.Parser.Caesat.CaesatParser, Logictracker.Tracker.Parser.Caesat" />
      <object id="caesatTranslator" type="Logictracker.Tracker.Parser.Caesat.Comm.Translator, Logictracker.Tracker.Parser.Caesat.Comm">
        <property name="VehiclesIdCollection">
          <name-values>
            <add key="FNQ168" value="5775" />
            <add key="C38433" value="-1" />
            <add key="NBN015" value="5770" />
            <add key="GTZ780" value="-1" />
            <add key="KQI440" value="5739" />
            <add key="LZP774" value="5771" />
            <add key="KQD370" value="5742" />
            <add key="FYZ069" value="5774" />
            <add key="CFH414" value="5777" />
            <add key="IPW414" value="-1" />
            <add key="LED017" value="5772" />
          </name-values>
      </property>
      </object>
      
      <!-- ////////////////////////////////////////////////////////////////////////////////-->
      <!--             TrackMessage Objects Definitions                                   -->
      <!-- ////////////////////////////////////////////////////////////////////////////////-->
      
      <!-- My Message Binary Converter to Serialize Messages in MSMQ -->
      <object id="binaryMessageConverter" type="Spring.Messaging.Support.Converters.BinaryMessageConverter, Spring.Messaging" />
      
      <object id="trackMessageQueueTemplate" type="Spring.Messaging.Core.MessageQueueTemplate, Spring.Messaging">
        <property name="DefaultMessageQueueObjectName" value="trackMessageInputTxQueue" />
        <property name="MessageConverterObjectName" value="binaryMessageConverter" />
      </object>
      <!--TrackService InputQueue Factory-->
      <object id="trackMessageInputTxQueue" type="Spring.Messaging.Support.MessageQueueFactoryObject, Spring.Messaging">
        <property name="Path" value=".\Private$\eventos_caesat" />
        <property name="MessageReadPropertyFilterSetAll" value="true" />
      </object>
    </objects>
  </spring>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="tracker-protocolserverhost.log" />
      <param name="CountDirection" value="1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="DatePattern" value=".yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="DateTime    Thread  Level   Logger  Message%newline" />
        <param name="ConversionPattern" value="%d   %t  %-5p    %c  %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="Threshold" value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level %logger%newline%message" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
        <backColor value="Blue" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="EventLogAppender" />
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
