<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tarjetas.Properties.Settings.tarjetasConnectionString"
            connectionString="Data Source=|DataDirectory|\Logictracker\tarjetas.sdf;Persist Security Info=True;Encrypt Database=True;Password=tar!123*;File Mode=shared read;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>