<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="services" value="PumpControl" />    
    <add key="PumpControl" value="Urbetrack.Comm.PumpControl.ServerHandler,Urbetrack.Comm.PumpControl"/>
    <add key="PumpControl.join_timeout" value="5000" />
    <add key="PumpControl.pool_interval" value="1000" />
    <add key="PumpControl.dc_hostname" value="192.168.1.36" />
    <add key="PumpControl.dc_tcpport" value="1024" />
    <add key="PumpControl.destination_queue" value="combustible" />
  </appSettings>
</configuration>