<?xml version="1.0" encoding="utf-8"?>

<mail>
  <from address="logictracker.noreply@gmail.com" displayName="Reportes Logictracker" />
  <to address="julian.millan@logictracker.com" />
  <body isHTML="true">
    <![CDATA[
  <table style="border: solid 1px #3A81B1; border-spacing: 0px; width: 90%; margin: auto;">
<tr><td colspan="2" style="background-color:#3A81B1;"><img src="http://plataforma.logictracker.com/App_Themes/Marinero/img/logo-logic-azul.png" /></td>
<td colspan="2" style="background-color:#3A81B1; text-align: right; padding-top: 10px; padding-right: 10px; "><h3>Soporte</h3></td>
</tr>
<tr style="background-color:#e7e7e7;">
<td style="padding: 10px;"><b>Ticket #{0}</b></td>
<td style="padding: 10px;"><i>{1}</i></td>
<td style="text-align: right;padding: 10px;"><b><i>{2}</i> ({12})</b></td>
<td style="text-align: right;padding: 10px;">{3}</td>
</tr>
<tr>
<td colspan="4" style="background-color:#e7e7e7; padding: 10px;">
	<p><i>{4} > {5} > {6}</i></p>
	<p>{7}</p>
</td>
</tr>
<tr>
<td colspan="4" style="border-top: solid 1px #3A81B1; border-spacing: 0px; padding: 10px;">
	<table>
	<tr>
		<td style="text-align: right;"><b>{8}</b></td>
		<td><i>{9}</i></td>
	</tr>
	</table>
	<p>{10}</p>
</td>
</tr>
<tr>
<td colspan="4" style="border-top: solid 1px #3A81B1; border-spacing: 0px; padding: 10px;">
	Para acceder al ticket:<br/>
	<a href="http://plataforma.logictracker.com/Soporte/TicketSoporteAlta.aspx?t={11}">http://plataforma.logictracker.com/Soporte/TicketSoporteAlta.aspx?t={11}</a><br />
</td>
</tr>
<tr>
<td colspan="4" style="background-color:#3A81B1; text-align: center; font-size: small;">
	<p>Este mail ha sido enviado de forma automática por el módulo de soporte de Logictracker.<br/>
	Ante cualquier duda responda a logisticstrack.soporte@gmail.com
	</p>

</td>
</tr>
</table>  
  ]]>
  </body>
  <subject>
    Soporte Logictracker - Ticket: #{0}
  </subject>
  <host address="smtp.gmail.com" port="587" enableSSL="true"/>
  <credentials username="logictracker.noreply@gmail.com" password="logict2015" />
</mail>