<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net451" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net451" />
  <package id="LinqToExcel_x64" version="1.10.1" targetFramework="net451" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net451" />
  <package id="NHibernate.Caches.MemCache" version="3.2.0.4000" targetFramework="net451" />
</packages>