<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="logictracker.title" value="Logictracker" />
    <add key="logictracker.theme.*" value="Marinero" />
    <add key="logictracker.login.*" value="" />
    <add key="logictracker.google.maps.localhost" value="http://maps.google.com/maps/api/js?v=3&amp;key=AIzaSyBS5n2CFEegI8KEUAv9C3i_aNZnouoySeU&amp;sensor=false" />
    <add key="logictracker.google.earth.localhost" value="http://www.google.com/jsapi?key=ABQIAAAA-ZFQIp6XzCGyF_TNWwe0HxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQ381eqP7m5GB2RE14yqpj9uuCzeQ" />
    <add key="logictracker.google.maps.logictracker.azurewebsites.net" value="http://maps.google.com/maps/api/js?v=3&amp;key=AIzaSyBS5n2CFEegI8KEUAv9C3i_aNZnouoySeU&amp;sensor=false" />
    <add key="logictracker.google.earth.logictracker.azurewebsites.net" value="http://www.google.com/jsapi?key=ABQIAAAA-ZFQIp6XzCGyF_TNWwe0HxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQ381eqP7m5GB2RE14yqpj9uuCzeQ" />
    <add key="logictracker.google.analytics" value="UA-18911105-5" />
    <add key="logictracker.queues" value=".\private$\posiciones,.\private$\commander" />
    <add key="logictracker.resources.groups" value="Logictracker,SAI,Telefonica,AGC,TEL3,ConsumoMasivo,EDESUR" />
    <add key="logictracker.cache.servers" value="127.0.0.1:11212" />
    <add key="logictracker.services.user" value="services" />
    <add key="logictracker.services.domain" value="." />
    <add key="logictracker.services.password" value="srv!123*" />
    <add key="logictracker.services" value="Logictracker.Express$Scheduler" />
    <add key="logictracker.compumap.mapfiles" value="d:\Mapas" />
    <add key="logictracker.fota.path" value="D:\dev\logictracker4\Logictracker\Applications\run\bin\Debug\FOTA" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <add key="logicout.fichada.queuename" value=".\private$\eventos_trax" />
    <add key="logictracker.qtree.directory" value="C:\Users\user\Documents\GitHub\LT 4\Logictracker\Logictracker\src\Web\Logictracker\Logictracker.Web\Qtree" />
    <add key="logictracker.reports.queuename" value=".\private$\ltracker.mailreportservice.inputqueue" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="log4net.Internal.Debug" value="true" />-->
    <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" />
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Logictracker">
      <property name="current_session_context_class">web</property>
      <!--<property name="connection.provider">Logictracker.DAL.NHibernate.DriverConnectionProvider, Logictracker.DAL</property>-->
      <!--<property name="connection.connection_string">Server=190.111.252.242\sa;Initial Catalog=logictracker;User ID=logictracker_web;Password=logictracker_web;Pooling=true;Max Pool Size=500;</property>-->
      <property name="connection.connection_string">Server=tcp:bd.logictracker.com\MSSQL2K8R2;Initial Catalog=logictracker;User ID=logictracker_web;Password=LogicTrackerWWW2013;Pooling=true;Max Pool Size=500;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="command_timeout">30</property>
      <property name="generate_statistics">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="cache.provider_class">NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.region_prefix">logictracker</property>
      <property name="max_fetch_depth">3</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="show_sql">false</property>
      <property name="format_sql">false</property>
      <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
      <property name="cache.default_expiration">900</property>
      <property name="generate_statistics">false</property>
    </session-factory>
  </hibernate-configuration>
  <memcache>
    <property name="compression_enabled">false</property>
    <memcached host="127.0.0.1" port="11211" />
  </memcache>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5.1" />-->
    <!--<httpRuntime targetFramework="4.5.1" />-->
    <httpRuntime targetFramework="4.5.1" executionTimeout="600" minFreeThreads="704" minLocalRequestFreeThreads="608" maxRequestLength="10240" />
    <globalization culture="es-AR" uiCulture="es-AR" />
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Labels.Popup" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="c1" namespace="C1.Web.UI.Controls.C1GridView" assembly="C1.Web.UI.Controls.3" />
        <add tagPrefix="c1" namespace="C1.Web.UI.Controls.C1Input" assembly="C1.Web.UI.Controls.3" />
        <add tagPrefix="c1" namespace="C1.Web.UI.Controls.C1TabStrip" assembly="C1.Web.UI.Controls.3" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.HiddenFields" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Labels" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.DropDownLists" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.ListBoxs" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.DropDownLists.ControlDeCombustible" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.ToolBar" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Ajax" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Buttons" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Culture" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Panels" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.CheckBoxs" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.LayoutRegions" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.Input" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.DropDownCheckLists" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.DropDownLists.Tickets" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.DropDownLists.Distribucion" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="c1h" namespace="Logictracker.Web.Helpers.C1Helpers" assembly="Logictracker.Web.Helpers" />
        <add tagPrefix="cwc" namespace="Logictracker.Web.CustomWebControls.CheckBoxLists" assembly="Logictracker.Web.CustomWebControls" />
        <add tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <trace enabled="true" traceMode="SortByCategory" requestLimit="40" pageOutput="false" localOnly="true" />
    <customErrors mode="RemoteOnly" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="c1gaugeimage.aspx" type="C1.Web.UI.Controls.C1Gauge.C1GaugeHttpHandler,C1.Web.UI.Controls.3" />
      <add verb="*" path="c1chartimage.aspx" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.2" />
      <add verb="*" path="*.image" type="Logictracker.Culture.ResourceImageHandler, Logictracker.Culture" />
      <!--<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />-->
    </httpHandlers>
    <httpModules>
      <!--<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />-->
    </httpModules>
    <sessionState timeout="90" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="GaugeImage" verb="*" path="c1gaugeimage.aspx" preCondition="integratedMode" type="C1.Web.UI.Controls.C1Gauge.C1GaugeHttpHandler,C1.Web.UI.Controls.3" />
      <add name="ChartImage" verb="*" path="c1chartimage.aspx" preCondition="integratedMode" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.2" />
      <add name="ResourceImage" verb="*" path="*.image" preCondition="integratedMode" type="Logictracker.Culture.ResourceImageHandler, Logictracker.Culture" />  
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.86.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213, Version=3.3.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e">
        <arg key="configType" value="INLINE" />
        <arg key="level" value="WARN" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net debug="false">

    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    
    <logger name="Memcached.ClientLibrary" >
      <level value="OFF"/>
    </logger>
    
    <logger name="NHibernate.Hql.Ast.ANTLR">
			<priority value="OFF" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="DEBUG" />
		</logger>
		<logger name="NHibernate.AdoNet.AbstractBatcher">
			<level value="OFF" />
		</logger>
		<logger name="NHibernate.Tool.hbm2ddl.SchemaExport">
			<level value="ERROR" />
		</logger>
    
    <root>
      <priority value="WARN" />
      <appender-ref ref="DebugSQL" />
    </root>
  </log4net>
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->

</configuration>