<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler"/>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
  </configSections>  
  <appSettings>
    <add key="connstr" value="DATA SOURCE=130.40.10.3; INITIAL CATALOG=urbetrack; PERSIST SECURITY INFO=true; USER ID=sa; PASSWORD=123456;"/>
    <add key="watch_filter" value="*.IMP"/>
    <add key="watch_path" value="D:\watch"/>
    <add key="timer" value="10000"/>
    <add key="proj_file" value="PROJ.IMP"/>
    <add key="cust_file" value="CUST.IMP"/>
    <add key="HBM_ASSEMBLY" value="nomenmodel"/>
    <add key="SINONIMOS" value="D:\watch\sinonimos.xml"/>
  </appSettings>
  <syscache>
    <cache region="reg_1" expiration="3600" priority="5" />
  </syscache>
  <nhibernate>
    <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
    <add key="hibernate.cache.provider_class" 
		     value="NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache" />
    <add key="expiration" value="3600" />
    <add key="nhibernate.show_sql" value="false"/>
    <add key="hibernate.cache.use_query_cache" value="false"/>
    <add key="hibernate.connection.isolation" value="ReadCommitted"/>
    <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
    <add key="hibernate.connection.connection_string" value="Data Source=D:\watch\nomen.db3;Version=3;Synchronous=Off"/>
    <add key="hibernate.dialect" value="NHibernate.Dialect.SQLiteDialect"/>
  </nhibernate>
 </configuration>