/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #F7FDFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*  Site */
.nl-filterpanel {
    background-color: #e7e7e7;
    border: solid 1px #cccccc;
    padding-top: 1em;
    padding-bottom: 1.5em;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
