[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh 
*.bak 
*.cache 
*.ilk
*.log 
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*LogicTracker_Process_Import_Client.cs
*Quartz.xml
*Logictracker_Cameras.cs
*Logictracker.Full.ncb
*Logictracker.Full.suo
*.DotSettings
Logictracker/Framework/External Libs/zeromq-2.0.7/lib/
Actualizacion/
PrecompiledWeb/
/Logictracker\Applications\ImpresionTarjetas\Resources/Bases
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/tmp
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Documentos/upload/*
/Logictracker/TestResults/*
/Logictracker/Logictracker.Full.vsmdi
/Logictracker/Applications/LogicLinkInstall/Debug/LogicLinkInstall.msi
/Logictracker/Applications/LogicLinkInstall/Debug/setup.exe
/Logictracker/Applications/LogicOut/LogicOut.Install/Debug/LogicOut.Install.msi
/Logictracker/Applications/LogicOut/LogicOut.Install/Debug/setup.exe
/Logictracker/Framework/Configuration/Cameras/Logictracker_Cameras.cs
/Logictracker/Framework/External Libs/Quartz/Quartz.xml
/Logictracker/Framework/Metrics/Configuration/Generados/Configuration.cs
/Logictracker/Framework/Process/Logictracker.Process.Import.Client/Mapping/Logictracker_Process_Import_Client.cs
/Logictracker/Web/Logictracker.Web.Controls/bin/Debug/Logictracker.Cache.dll
/Logictracker/compile.log
Debug
lib
packages/
/Logictracker/Logictracker.Full.opensdf
/Logictracker/Logictracker.Full.sdf
/Logictracker/UpgradeLog.htm
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/*.dll
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/*.pdb
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/en/*.dll
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/es/*.dll
/Logictracker/Logictracker/src/Web/Logictracker/Logictracker.Web/Bin/pt/*.dll
