<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Nombre de Usuario y Password Logictracker -->
        <add key="username" value="logictracker" />
        <add key="password" value="track!123*" />
        <!-- Url del servicio de nomenclación de direcciones -->
        <add key="serverurl" value="http://localhost/Logictracker/App_Services/Geocoder.asmx" />
        <!-- Configuración de columnas de resultado -->
        <!-- 
            {0} Direccion 
            {1} Calle
            {2} Altura
            {3} Partido
            {4} Provincia
            {5} Latitud
            {6} Longitud
        -->
        <add key="column.1.title" value="Direccion"/>
        <add key="column.2.title" value="Calle"/>
        <add key="column.3.title" value="Altura"/>
        <add key="column.4.title" value="Partido"/>
        <add key="column.5.title" value="Provincia"/>
        <add key="column.6.title" value="Latitud"/>
        <add key="column.7.title" value="Longitud"/>
        
        <add key="column.1.value" value="{0}"/>
        <add key="column.2.value" value="{1}"/>
        <add key="column.3.value" value="{2}"/>
        <add key="column.4.value" value="{3}"/>
        <add key="column.5.value" value="{4}"/>
        <add key="column.6.value" value="{5}"/>
        <add key="column.7.value" value="{6}"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeocoderWsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34034/Logictracker.Web/App_Services/Geocoder.asmx"
                binding="basicHttpBinding" bindingConfiguration="GeocoderWsSoap"
                contract="GeocoderService.GeocoderWsSoap" name="GeocoderWsSoap" />
        </client>
    </system.serviceModel>
</configuration>