/* general */
body {background-color: #E7E7E7;}
.Logo{background-image: url(img/logo-logic-azul.png);}
.LogoBottom{background-image: none;}
.panelheader{background-image: url(img/menu_bg_head.gif);}
/* login */
#login body { background-image: url(img/login_back_logic.png); color: #ffffff; }
#login .loginform { right: 100px; top: 100px; }
#login .loginbutton { right: 120px; top: 200px; }
#login .flags { right: 40px; bottom: 70px; }
#login .error {
    position: relative;
    text-align: center;
    top: 90px;
    color: #D4b033;
}
#login .perfilform { right: 100px; top: 100px; }
#login .selectbutton { right: 120px; top: 180px; }
#login .cancelbutton { right: 250px; top: 180px; }
/* menu */
.Menu{background-image: url(img/menu_bg.gif);background-color: #4394CB;}
.menu_group_header{ background-image: url(img/menu_bg_head.gif); }
.menu_item_over{background-image: url(img/menu_bg_item_over.gif);}
.menu_item_selected{background-image: url(img/menu_bg_item_sel.gif);}
/* historico */
#monitor .filters{
	background-color: #3A81B1;
    background-image: url(img/menu_bg.gif);
}
/* user panel */
.UserPanel {
    border: solid 1px #EAEDF0;
    background-color: #B3BCC6;
    background-image: url(img/menu_bg_item_sel.gif);
}
/* accordion control */
.accordionHeader, .accordionHeaderSelected {
    background-image: url(img/menu_bg_head.gif);
    color: White; 
}
.accordionContent {
     border: solid 1px #999999; 
     background-color: #e7e7e7;
}
.accordionMenuHeader, .accordionMenuHeaderSelected {
    background-image: url(img/menu_bg_head.gif); 
    color: White;
    border: solid 1px #334E80;
}
.accordionMenuContent {
     border: solid 1px #666666; 
     background-color: #e7e7e7;
}
/* button list control */
.ResourceButtonList label{
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #999999;
    outline: solid 1px #dddddd;
    background-color: #e7e7e7;
}
.ResourceButtonListSelected label{
    border-top: solid 1px #999999;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #999999;
    border-right: solid 1px #cccccc;
    outline: solid 1px #eeeeee;
    background-color: #dddddd;
}
/* reorder control */
.reorder_header { background-image: url(img/menu_bg_head.gif); }
.reorder_handle { background-image: url(img/menu_bg_head.gif); }
/* titlebar */
.titlebar{
    background-image: url(img/titlebar_bg.gif);
    background-color: #3A81B1;
    border-bottom: solid 1px #15354A;
}
/* toolbar */
.toolbar{ background-image: url(img/menu_bg_item_sel.gif); }
.toolbarbutton_back {background-image: url(img/toolbar_button_bg.gif);}
.toolbarbutton_over {background-image: url(img/toolbar_button_bg_over.png);}
/* dropdownchecklist */
.dropdowncheck_panel td:hover { background-image: url(img/grid_bg_item_sel.png); }
/* grid */
.Grid_Header{ background-image: url(img/menu_bg_head.gif); color: White; }
.Grid_Header a{ color: White; }
.Grid_Selected_Item, .Grid_MouseOver_Item{background-image: url(img/grid_bg_item_sel.png);}
.Grid .C1ImageGroupExpand{ background-image: url(img/grid_expand.png); }
.Grid .C1ImageGroupCollapse{ background-image: url(img/grid_collapse.png); }
/* smallgrid */
.smallgrid_header{ background-image: url(img/menu_bg_head.gif); color: White; }

/* #BeginRegion Paginador / Numeros */
.Grid_Pager table tr span, .Grid_Pager table tr a {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.Grid_Pager table tr a:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.Grid_Pager table tr span {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* #EndRegion Paginador / Numeros */