<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servers" value="devel" />
    <add key="devel.server_ip_address" value="localhost" />
    <add key="devel.client_identifier" value="CONSOLE_EVECCHIO" />
    <add key="devel.mssql_connection_string" value="Data Source=192.168.10.119;Initial Catalog=logictracker;Persist Security Info=True;User ID=logictracker;pwd=logictracker" />

  </appSettings>

</configuration>