<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="2357" />
    <add key="firmware_path" value="c:\firmware\"/>
    <add key="fota_filename" value="c:\firmware\fota_current.bin"/>

    <add key="tcp_timer_tr" value="8000"/>
    <add key="tcp_timer_trm" value="8000"/>
    <add key="tcp_timer_tv" value="32000"/>
    
    <add key="udp_timer_tr" value="8000"/>
    <add key="udp_timer_trm" value="8000"/>
    <add key="udp_timer_tv" value="32000"/>

    <add key="queue_delay" value="500"/>
  </appSettings>
</configuration>