<?xml version="1.0" encoding="utf-8"?>
<mail>
  <from address="soportelogictracker@gmail.com" displayName="Plataforma Logictracker" />
  <to address="soportelogictracker@gmail.com" displayName ="Desarrollo Logictracker" />
  <body isHTML="true">
          <![CDATA[
    <table style="font-size: x-small" align="left" valign="top">
		<tr>
			<td><strong>Vehículos activos:</strong> {1}</td>
		</tr>
		<tr>
			<td><strong>Vehículos inactivos:</strong> {2}</td>
		</tr>		
    </table><p><B>No responda a este email. Si usted tiene alguna duda o quiere reportar algo incorrecto, por favor hágalo reenviando este correo a <a href="mailto:soporte@logictracker.com">soporte@logictracker.com</a></b></p>]]>
  </body>
  <subject>{0}</subject>
  <host address="127.0.0.1" port="25" enableSSL="false" />
</mail>