<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logicout.user" value="logictracker" />
    <add key="logicout.pass" value="track!123*" />
    <add key="logicout.company" value="PG" />
    <add key="logicout.branch" value="RV" />
    <add key="logicout.servername" value="RBUGALLO" />
    <add key="logicout.interval" value="5" />
    <add key="logicout.logfile" value="logictracker.sync.log" />
    <add key="logicout.serverurl" value="http://localhost:37051/Logictracker.Web/App_Services/Export.asmx" />
    <add key="logicout.handler.molinete" value="LogicOut.Handlers.Molinete,LogicOut.Handlers" />
    <add key="logicout.molinete.connstring" value="Server=192.168.10.179;Database=mofaccess;Uid=test;Pwd=test;" />
    <!--<add key="logicout.handler.betonmac" value="LogicOut.Handlers.Betonmac,LogicOut.Handlers" />
    <add key="logicout.betonmac.plantas.planta1" value="01" />
    <add key="logicout.betonmac.planta1.connectionstring" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos\Logictracker\Clientes\Fenomix\Administracion.mdb;Persist Security Info=False;" />
    <add key="logicout.betonmac.planta1.connectionstringdespachos" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos\Logictracker\Clientes\Fenomix\DespachoAutomatico.mdb;Persist Security Info=False;" />-->
  </appSettings>
</configuration>