<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="linkfemsa" />
    <add key="password" value="linkfemsa!123*" />
    <add key="company" value="FEMSA" />
    <add key="interval" value="1" />
    <add key="logfile" value="logictracker.sync.log" />
    <add key="serverurl" value="http://plataforma.logictracker.com/App_Services/Import.asmx" />
  </appSettings>
</configuration>