<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy enabled="true">
      <proxy  autoDetect="false" usesystemdefault="false" bypassonlocal="false" proxyaddress="http://10.122.0.9:8080/"/>
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="username" value="linkfemsa" />
    <add key="password" value="linkfemsa!123*" />
    <add key="company" value="FEMSA" />
    <add key="interval" value="1" />
    <add key="logfile" value="logictracker.sync.log" />
    <add key="serverurl" value="http://web.logictracker.com/App_Services/Import.asmx" />
  </appSettings>
</configuration>