<?xml version="1.0" encoding="utf-8"?>

<mail>
  <from address="alerta@logictracker.com" displayName="Reportes Programados Logictracker" />
  <to address="lucasm@logictracker.com" />
  <body isHTML="true"><![CDATA[<table style="font-size: x-small" align="left" valign="top"><tr><td>{0}</td></tr></table>]]></body>
  <subject>Reporte Programado Logictracker</subject>
  <host address="smtpout.secureserver.net" port="25" enableSSL="false" />
  <credentials username="alerta@logictracker.com" password="alertaalerta" />
</mail>