<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <!-- CONFIGURACION DEL TRAZADO -->
    <add key="tracers" value="default"/>

    <add key="tracers.default.name" value="default"/>
    <add key="tracers.default.level" value="1"/>
    <add key="tracers.default.folder" value="logs"/>
    <add key="tracers.default.filename" value="default.log"/>
    <add key="tracers.default.prepend_thread_context" value="false"/>
    <add key="tracers.default.prepend_timestamp" value="true"/>
    <add key="tracers.default.show_thread_change" value="true"/>
    <add key="tracers.default.rotate_everyday" value="false"/>

  </appSettings>
</configuration>

