<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
  
    <objects xmlns="http://www.springframework.net">

      <!-- My Message Binary Converter to Serialize Messages in MSMQ -->
      <object id="binaryMessageConverter" type="Spring.Messaging.Support.Converters.BinaryMessageConverter, Spring.Messaging"/>

      <object id="messageQueueTemplate" type="Spring.Messaging.Core.MessageQueueTemplate, Spring.Messaging">
        <property name="DefaultMessageQueueObjectName" value="mailReportServiceInputTxQueue"/>
        <property name="MessageConverterObjectName" value="binaryMessageConverter"/>
      </object>

      <!--MailReportService InputQueue Factory-->
      <object id="mailReportServiceInputTxQueue" type="Spring.Messaging.Support.MessageQueueFactoryObject, Spring.Messaging">
        <property name="Path" value=".\Private$\ltracker.mailreportservice.inputqueue"/>
        <property name="MessageReadPropertyFilterSetAll" value="true"/>
      </object>

      <object type="Logictracker.Tracker.Tests.Reports.ReportGenerator.ReportMenuSelector, Logictracker.Tracker.Tests.Reports.ReportGenerator" singleton="true" autowire="autodetect"/>
      
      <object type="Logictracker.Tracker.Application.Reports.ReportService, Logictracker.Tracker.Application.Reports" singleton="true" autowire="autodetect"/>
        <!--<property name="MessageQueueTemplate" ref="messageQueueTemplate"/>
      </object>-->
      
    </objects>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
