<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="interqueue.queues" value="combustible,posiciones,entrantes"/>

    <add key="combustible.local_queue" value="combustible"/>
    <add key="combustible.remote_queue" value="combustible"/>
    <add key="combustible.remote_host" value="200.32.99.4"/>
    <add key="combustible.remote_port" value="4040"/>
    
    <add key="posiciones.local_queue" value="posiciones"/>
    <add key="posiciones.remote_queue" value="posiciones_xbee"/>
    <add key="posiciones.remote_host" value="200.32.99.4"/>
    <add key="posiciones.remote_port" value="4040"/>
    
    <add key="entrantes.local_queue" value="entrantes"/>
    <add key="entrantes.remote_queue" value="entrantes"/>
    <add key="entrantes.remote_host" value="200.32.99.4"/>
    <add key="entrantes.remote_port" value="4040"/>
    
    <!-- CONFIGURACION DEL TRAZADO -->
    <add key="tracers" value="default"/>

    <add key="tracers.default.name" value="default"/>
    <add key="tracers.default.level" value="1"/>
    <add key="tracers.default.folder" value="logs"/>
    <add key="tracers.default.filename" value="default.log"/>
    <add key="tracers.default.prepend_thread_context" value="false"/>
    <add key="tracers.default.prepend_timestamp" value="true"/>
    <add key="tracers.default.show_thread_change" value="true"/>
    <add key="tracers.default.rotate_everyday" value="false"/>

  </appSettings>
</configuration>

