<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- cosas viejas de torino sai -->
    <add key="global.connection_string" value="Server=192.168.10.179;Initial Catalog=logictracker;User ID=logictracker_dispatcher;Password=dis!123*;Pooling=true;Max Pool Size=500;" />
  </appSettings>
</configuration>