<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="urn:Logictracker.Cameras" >
    <Camera Id="cam1"
            Title="Av. Gral Paz y Av. Roca"
            BaseUrl="http://190.220.3.108:1010/"
            Url="axis-cgi/mjpg/video.cgi?resolution=352x288"            
            Width="352"
            Height="288"
            Latitud="-34.6981833333333"
            Longitud="-58.4700833333333"
            Enabled="true" />
    <Camera Id="cam2"
            Title="Av Gral. Paz y Acc. Oeste"
            BaseUrl="http://190.220.3.108:1014/"
            Url="axis-cgi/mjpg/video.cgi?resolution=352x288"
            Width="352"
            Height="288"
            Latitud="-34.63495"
            Longitud="-58.5299166666666"
            Enabled="true" />
    <Camera Id="cam3"
            Title="Acc. Norte y Ruta 202"
            BaseUrl="http://190.220.3.108:1058/"
            Url="axis-cgi/mjpg/video.cgi?resolution=352x288"
            Width="352"
            Height="288"
            Latitud="-34.4855"
            Longitud="-58.6148"
            Enabled="true" />
    <Camera Id="cam4"
            Title="Acc. Norte y Ruta 197"
            BaseUrl="http://190.220.3.108:1055/"
            Url="axis-cgi/mjpg/video.cgi?resolution=352x288"
            Width="352"
            Height="288"
            Latitud="-34.4755333333333"
            Longitud="-58.6627"
            Enabled="true" />
</Configuration>