<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ip_address" value="200.89.135.147" />
    <!--add key="ip_address2" value="169.254.2.2" />
    <add key="ip_address" value="200.26.26.65" /-->

    <add key="restart_timer" value="60000" />
    <add key="shutdown_timer" value="1200000" />
    <add key="connection_timer" value="180000" />
    <add key="gps_min_pdop" value="8" />
    <add key="gps_fix_interval" value="60" />
    <add key="gps_area_radio" value="1000" />
    <add key="sound_enabled" value="0" />
  </appSettings>
</configuration>