/* general */
body {background-color: #E7E7E7;}
.Logo{background-image: url(img/logo.gif);}
.LogoBottom{background-image: url(img/logo_bottom.gif);}
.panelheader{background-image: url(img/menu_bg_head.gif);}
/* login */
#login body { background-image: url(img/login_back.png); }
/* menu */
.Menu{background-image: url(img/menu_bg.gif); background-color: #FFD300;}
.menu_group_header{ background-image: url(img/menu_bg_head.gif); }
.menu_item_over{background-image: url(img/menu_bg_item_over.gif);}
.menu_item_selected{background-image: url(img/menu_bg_item_sel.gif);}
/* historico */
#monitor .filters{
	background-color: #3A81B1;
    background-image: url(img/menu_bg.gif);
}
/* user panel */
.UserPanel {
    border: solid 1px #c78500;
    background-color: #F7DA8B;
    background-image: url(img/menu_bg_item_sel.gif);
}
/* accordion control */
.accordionHeader, .accordionHeaderSelected {
    background-image: url(img/menu_bg_head.gif);
    color: White; 
}
.accordionContent {
     border: solid 1px #999999; 
     background-color: #e7e7e7;
}
.accordionMenuHeader, .accordionMenuHeaderSelected {
    background-image: url(img/menu_bg_head.gif); 
    color: White;
}
.accordionMenuContent {
     border: solid 1px #666666; 
     background-color: #e7e7e7;
}
/* button list control */
.ResourceButtonList label{
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #999999;
    outline: solid 1px #dddddd;
    background-color: #e7e7e7;
}
.ResourceButtonListSelected label{
    border-top: solid 1px #999999;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #999999;
    border-right: solid 1px #cccccc;
    outline: solid 1px #eeeeee;
    background-color: #dddddd;
}
/* reorder control */
.reorder_header { background-image: url(img/menu_bg_head.gif); }
.reorder_handle { background-image: url(img/menu_bg_head.gif); }
/* titlebar */
.titlebar{
    background-image: url(img/titlebar_bg.gif);
    background-color: #FFD300;
    border-bottom: solid 1px #DAB400;
	color: #000000;
}
.titlebar_title{ color: #000000;}
/* toolbar */
.toolbar{ background-image: url(img/menu_bg_item_sel.gif); }
.toolbarbutton_back {background-image: url(img/toolbar_button_bg.gif);}
.toolbarbutton_over {background-image: url(img/toolbar_button_bg_over.png);}
/* dropdownchecklist */
.dropdowncheck_panel td:hover { background-image: url(img/grid_bg_item_sel.png); }
/* grid */
.Grid_Header{ background-image: url(img/menu_bg_head.gif); color: White; }
.Grid_Header a{ color: White; }
.Grid_Selected_Item, .Grid_MouseOver_Item{background-image: url(img/grid_bg_item_sel.png);}
.Grid .C1ImageGroupExpand{ background-image: url(img/grid_expand.png); }
.Grid .C1ImageGroupCollapse{ background-image: url(img/grid_collapse.png); }
/* smallgrid */
.smallgrid_header{ background-image: url(img/menu_bg_head.gif); color: White; }