<?xml version="1.0" encoding="utf-8" ?>
<!--
Ejemplo de Configuracion:

La siguiente lista muestra una configuracion de ejemplo.

connstr = DATA SOURCE=200.5.235.220; INITIAL CATALOG=pruebainterfaces; PERSIST SECURITY INFO=true; USER ID=sa; PASSWORD=123456;
hostid = Sola01
log_file = C:\sola_cmdavl.log
watch_path = C:\
watch_filter = SolaTickets.txt

NOTA DE SEGURIDAD: El PATH de log_file debe estar configurado como FullControl para el usuario "Todos".

-->
<configuration>
  <appSettings>
    <add key="connstr" value="DATA SOURCE=130.40.10.3; INITIAL CATALOG=pruebainterfases; PERSIST SECURITY INFO=true; USER ID=sa; PASSWORD=123456;"/>
    <add key="hostid" value="LNG002112"/>
    <add key="before_parse_sleep" value="2000"/>
    <add key="log_file" value="C:\CMD2AVL\CMD2AVL.LOG"/>
    <add key="watch_path" value="C:\VH8NIV1\BASE\"/>
    <add key="watch_filter" value="TicketCrudo.txt"/>
  </appSettings>
</configuration>