
@{
    ViewBag.Title = "Index";
}
<div ng-controller="DummyController as dummy">
    <h2>Index</h2>
    <h3>Data: {{dummy.data}}</h3>
    <h3>List:</h3>
    <ul>
        <li ng-repeat="dummyItem in dummy.list" >{{dummyItem}}</li>
    </ul>
</div>
