<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="" footer="" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener" />
      <add fileName="pumpcontrol.log" header="" footer="" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="SystemReportListener" />
    </listeners>
    <formatters>
      <add template="{timestamp}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="pump_log"><listeners><add name="SystemReportListener" /></listeners></add>
      <add switchValue="All" name="SA.Error"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="SA.UserLog01"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="All" name="SA.Notice"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="All" name="SA.Info"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="SA.Debug"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="All" name="UDP.Error"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="UDP.Debug"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="All" name="UDP.Info"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="Error"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="General"><listeners><add name="FlatFile TraceListener" /></listeners></add>
      <add switchValue="Off" name="Info"><listeners><add name="FlatFile TraceListener" /></listeners></add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings"><listeners><add name="FlatFile TraceListener" /></listeners></errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="services" value="PumpControl" />    
    <add key="PumpControl" value="PumpControl.ServerHandler,PumpControl"/>
    <add key="PumpControl.join_timeout" value="5000" />
    <add key="PumpControl.pool_interval" value="1000" />
    <add key="PumpControl.dc_hostname" value="190.48.127.3" />
    <add key="PumpControl.dc_tcpport" value="1024" />
  </appSettings>
</configuration>