<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.6" targetFramework="net451" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net451" />
  <package id="Glimpse.WebForms" version="1.1.1" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net451" />
  <package id="NHibernate.Glimpse" version="3.3.3.40011" targetFramework="net451" />
</packages>