<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="username" value="logictracker" />
        <add key="password" value="track!123*" />
        <add key="company" value="FEN" />
        <add key="branch" value="FEN" />
        <add key="interval" value="5" />
        <add key="logfile" value="logictracker.sync.log" />
        <add key="serverurl" value="http://plataforma.logictracker.com/App_Services/Import.asmx" />
    </appSettings>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="CertificateBehavior">
            <clientCredentials>
              <clientCertificate storeLocation="LocalMachine"
                                  storeName="My"
                                  findValue="57355a38c97e1e36e277d3c6a297c7bf84f241e9"
                                  x509FindType="FindByThumbprint" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>      
        <bindings>
            <basicHttpBinding>
                <binding name="ImportSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ImportSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://plataforma.logictracker.com/App_Services/Import.asmx"
                behaviorConfiguration="CertificateBehavior" binding="basicHttpBinding"
                bindingConfiguration="ImportSoap" contract="RemoteServer.ImportSoap"
                name="ImportSoap" />
        </client>
    </system.serviceModel>
</configuration>