<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache"/>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="launch_debugger" value="0"/>
    </switches>
  </system.diagnostics>
  <appSettings>  
    <add key="urbetrack.queues" value=".\private$\posiciones,.\private$\eventos,.\private$\tickets"/>  
    <add key="urbetrack.qtree.directory" value="D:\Urbetrack\Urbetrack Web\Qtree"/>
    <add key="urbetrack.monitores.historico" value="http://tasa.urbetrack.com.ar/Monitor/MonitorHistorico/monitorHistorico.aspx"/>
    <add key="urbetrack.tracer.minlogtype" value="Error" />
    <!-- Error Trace Debug /-->
  </appSettings>
  
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Urbetrack">
      <property name="connection.connection_string">Server=(local);Initial Catalog=urbetrack;User ID=urbetrack_dispatcher;Password=dis!123*;Pooling=true;Max Pool Size=500;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="command_timeout">60</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="cache.provider_class">NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.region_prefix">urbetrack</property>
      <property name="max_fetch_depth">3</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    </session-factory>
  </hibernate-configuration>
  <memcache>
    <property name="compression_enabled">false</property>
    <memcached host="127.0.0.1" port="11211" />
  </memcache>
  <system.serviceModel>
          <bindings>
              <basicHttpBinding>
                  <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                      receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                      bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                      maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                      messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                      useDefaultWebProxy="true">
                      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                      <security mode="None">
                          <transport clientCredentialType="None" proxyCredentialType="None"
                              realm="" />
                          <message clientCredentialType="UserName" algorithmSuite="Default" />
                      </security>
                  </binding>
              </basicHttpBinding>
          </bindings>
          <client>
              <endpoint address="http://www.wssimon.assistcargo.com/wssimon/service.asmx"
                  binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                  contract="AssistCargoService.ServiceSoap" name="ServiceSoap" />
          </client>
    </system.serviceModel>
</configuration>
