<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache"/>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="launch_debugger" value="0"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="urbetrack.tracer.minlogtype" value="Debug" /><!-- Trace Debug /-->

    <add key="urbetrack.queues" value=".\private$\eventos_unetelv2,.\private$\eventos_unetelv1,.\private$\eventos_trax,.\private$\eventos_fulmar"/>

    <add key="urbetrack.pictures.directory" value="C:\Inetpub\wwwroot\Urbetrack\Pictures" />
<add key="urbetrack.cache.servers" value="127.0.0.1:11212" />
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Urbetrack">
      <property name="connection.connection_string">Server=192.168.28.88;Initial Catalog=urbetrack;User ID=urbetrack_dispatcher;Password=dis!123*;Pooling=true;Max Pool Size=500;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="command_timeout">60</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="cache.provider_class">NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.region_prefix">urbetrack.hibernate</property>
      <property name="max_fetch_depth">3</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="cache.default_expiration">900</property> 
    </session-factory>
  </hibernate-configuration>
  <memcache>
    <property name="compression_enabled">false</property>
    <memcached host="127.0.0.1" port="11211" />
  </memcache>
</configuration>



