<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>


  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Logictracker">
      <property name="connection.connection_string">Server=190.111.252.242\sa;Initial Catalog=logictracker;User ID=logictracker_web;Password=logictracker_web;Pooling=true;Max Pool Size=500;</property>
      <!--<property name="connection.connection_string">Server=bd.logictracker.com\MSSQL2K8R2;Initial Catalog=LogicTracker;User ID=logictracker_web;Password=LogicTrackerWWW2013;Pooling=true;Max Pool Size=1000;Network Library=DBMSSOCN;</property>-->
      <property name="connection.isolation">ReadCommitted</property>
      <property name="command_timeout">180</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="cache.use_second_level_cache">false</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.region_prefix">logictracker_hibernate</property>
      <property name="max_fetch_depth">3</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="show_sql">false</property>
      <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
      <property name="cache.default_expiration">900</property>
      <property name="current_session_context_class">call</property>
    </session-factory>
  </hibernate-configuration>
  <memcache>
    <property name="compression_enabled">false</property>
    <property name="max_connections">300</property>
    <memcached host="127.0.0.1" port="11211" />
  </memcache>

  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <codeBase version="1.2.10.0" href="log4net_oldkey\log4net.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
        <codeBase version="1.2.13.0" href="log4net.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="logictracker.qtree.directory" value="C:\tempcode\Gte\FULLPAISFIX" />
  </appSettings>
</configuration>
