<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="Urbetrack.Backbone.ClientSink, Urbetrack.Backbone"
                   objectUri="ClientSink" mode="Singleton" />
      </service>
      <client>
        <wellknown type="Urbetrack.Backbone.Spine, Urbetrack.Backbone"
            url="tcp://10.8.0.1:35711/Spine" />
      </client>
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>

    <!-- CONFIGURACION DE DISPOSITIVOS -->
    <add key="core.connection_string" value="packet size=512;Data Source=10.8.0.1;Initial Catalog=urbetrack;Persist Security Info=True; User ID=gatewaymovil;Password=123456;Connection Timeout=600;" />
    <add key="global.connection_string" value="packet size=4096;integrated security=SSPI;data source=(local);persist security info=False;initial catalog=urbetrack_movil;Connection Timeout=600;" />

    <add key="global.firmware_path" value="C:\firmwarerepo" />
    <add key="spine.url" value="tcp://10.8.0.2:35711/Spine"/>
    <add key="device.filter_parametres" value="(parenti31_nombre NOT LIKE 'q%')"/>
    <!-- CONFIGURACION DE SERVICIOS -->
    <add key="services" value="Urbetrack" />

    <add key="Urbetrack" value="Urbetrack.Gateway.Joint.MessageQueue.ServerHandler,Urbetrack.Gateway.Joint.MessageQueue"/>
    <add key="Urbetrack.tracer" value="default" />
    <add key="Urbetrack.listeners" value="urbe_udp" />
    <add key="Urbetrack.listener[urbe_udp].transport" value="Urbetrack.Comm.Core.Transport.TransporteUDP,Urbetrack.Comm.Core"/>
    <add key="Urbetrack.listener[urbe_udp].codec" value="Urbetrack.Comm.Core.Codecs.UrbetrackCodec,Urbetrack.Comm.Core"/>
    <add key="Urbetrack.listener[urbe_udp].port" value="2357"/>
    <add key="Urbetrack.xbee_transport_enabled" value="true" />
    <add key="Urbetrack.xbee_transport_codec" value="Urbetrack.Comm.Core.Codecs.UrbetrackCodec,Urbetrack.Comm.Core"/>
    <add key="Urbetrack.xbee_transport_uart" value="COM4"/>

    <!-- CONFIGURACION DE COLAS -->
    <add key="queues.default_user_group" value="Usuarios"/>
    <add key="queues.almacen" value=".\Private$\almacen"/>
    <add key="queues.salientes" value=".\Private$\salientes"/>
    <add key="queues.posiciones" value=".\Private$\posiciones"/>
    <add key="queues.entrantes" value=".\Private$\entrantes"/>
    <add key="queues.comandos" value=".\Private$\comandos"/>
    <add key="queues.combustible" value=".\Private$\combustible"/>

    <!-- CONFIGURACION DEL TRAZADO -->
    <add key="tracers" value="default"/>

    <add key="tracers.default.name" value="default"/>
    <add key="tracers.default.level" value="2"/>
    <add key="tracers.default.folder" value="logs"/>
    <add key="tracers.default.filename" value="default.log"/>
    <add key="tracers.default.prepend_thread_context" value="false"/>
    <add key="tracers.default.prepend_timestamp" value="true"/>
    <add key="tracers.default.show_thread_change" value="true"/>
    <add key="tracers.default.rotate_everyday" value="false"/>

  </appSettings>
</configuration>