<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="launch_debugger" value="0"/>
    </switches>
  </system.diagnostics>
  <appSettings>
  
	<add key="urbetrack.services" value="Urbetrack.Express$Gateway Torino,Urbetrack.Express$Gateway Trax,Urbetrack.Express$Gateway Fulmar,Urbetrack.Express$Dispatcher Torino,Urbetrack.Express$Dispatcher Trax,Urbetrack.Express$Dispatcher Fulmar,Urbetrack.Express$Scheduler"/>
	<add key="urbetrack.services.user" value="administrator"/>
	<add key="urbetrack.services.domain" value="laba-gp00"/>
    <add key="urbetrack.services.password" value="SanAntonio1"/>

	<add key="urbetrack.tracer.minlogtype" value="Error" />
  </appSettings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Urbetrack">
		<property name="connection.connection_string">Server=172.16.20.50;Database=Urbetrack;Initial Catalog=Urbetrack;User ID=urbetrack_dispatcher;Password=urb!123;Pooling=true;Max Pool Size=500;</property>
		<property name="connection.isolation">ReadCommitted</property>
		<property name="command_timeout">60</property>
		<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
		<property name="cache.provider_class">NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache</property>
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.use_query_cache">true</property>
		<property name="cache.region_prefix">urbetrack</property>
		<property name="max_fetch_depth">3</property>
		<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		<property name="show_sql">false</property>
		<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    </session-factory>
  </hibernate-configuration>
</configuration>
