<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
		<section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache" />
	</configSections>
	<connectionStrings />
	<appSettings>
		<add key="logictracker.title" value="Logictracker" />
		<add key="logictracker.google.maps.localhost" value="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA-ZFQIp6XzCGyF_TNWwe0HxR3WEPGHRgqNz51JZNWVhRh6GsvQxQVjFpZVcPytX-LgUzSw5pld2F-tg" />
		<add key="logictracker.google.earth.localhost" value="http://www.google.com/jsapi?key=ABQIAAAA-ZFQIp6XzCGyF_TNWwe0HxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQ381eqP7m5GB2RE14yqpj9uuCzeQ" />
		<add key="logictracker.google.analytics" value="UA-18911105-5" />
		<add key="logictracker.queues" value=".\private$\posiciones,.\private$\commander" />
		<add key="logictracker.resources.groups" value="Logictracker,SAI,Telefonica,AGC" />
		<add key="logictracker.cache.servers" value="127.0.0.1:11212,127.0.0.1:11211" />
		<add key="logictracker.services.user" value="services" />
		<add key="logictracker.services.domain" value="." />
		<add key="logictracker.services.password" value="srv!123*" />
		<add key="logictracker.services" value="Logictracker.Express$Scheduler" />
    <add key="logictracker.compumap.mapfiles" value="d:\Mapas\Amba" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    
    <add key="logicout.interval" value="15" />
    <add key="logicout.logfile" value="logicout_log.txt" />
    <add key="logicout.loglevel" value="All" />
    <add key="logicout.serverurl" value="http://localhost:37051/Logictracker.Web/App_Services/Export.asmx" />
    <add key="logicout.user" value="logictracker" />
    <add key="logicout.pass" value="track!123*" />
    <add key="logicout.servername" value="RAMIRO" />
    <add key="logicout.company" value="PG" />
    <!--<add key="logicout.branch" value="" />-->
    <add key="logicout.handler.molinete" value="LogicOut.Handlers.Molinete,LogicOut.Handlers" />
    <add key="logicout.molinete.connstring" value="Server=192.168.10.179;Database=mofaccess;Uid=test;Pwd=test;" />
    
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Logictracker">
      <property name="current_session_context_class">call</property>
      <!--property name="connection.connection_string">Server=(local);Initial Catalog=infomovil;User ID=sa;Password=sa!123*;Pooling=true;Max Pool Size=500;</property-->
      <property name="connection.connection_string">Server=tcp:bd.logictracker.com\MSSQL2K8R2;Initial Catalog=logictracker;User ID=logictracker_web;Password=LogicTrackerWWW2013;Pooling=true;Max Pool Size=500;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="command_timeout">60</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="cache.provider_class">
        NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache
      </property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.region_prefix">logictracker</property>
      <property name="max_fetch_depth">3</property>
      <property name="query.substitutions">
        true 1, false 0, yes 'Y', no 'N'
      </property>
      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
      </property>
      <property name="cache.default_expiration">900</property>
    </session-factory>
  </hibernate-configuration>
	<memcache>
		<property name="compression_enabled">false</property>
		<memcached host="127.0.0.1" port="11211" />
	</memcache>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
