<?xml version="1.0" encoding="utf-8" ?>

<mail>
  <from address="logisticstrack.soporte@gmail.com" displayName="Alarmas Logictracker" />
  <to address="logisticstrack.soporte@gmail.com" />
  <body isHTML="true">
    <![CDATA[
    <table style="font-size: x-small" align="left" valign="top">
      <tr><td>No se encontraron tareas programadas correspondientes a <strong>{0}</strong> para el día <strong>{1}.</strong></td></tr>      
    </table>
    <br/>
    <br/>
		]]>
  </body>
  <subject>
    Alarma Logictracker
  </subject>
  <host address="smtp.gmail.com" port="587" enableSSL="true"/>
  <credentials username="logisticstrack.soporte@gmail.com" password="SoporteSoporte" />
</mail>