<?xml version="1.0" encoding="utf-8"?>

<mail>
  <from address="alerta@logictracker.com" displayName="Alarmas Logictracker" />
  <to address="soporte@logictracker.com" />
  <body isHTML="true">
    <![CDATA[
    <table style="font-size: x-small" align="left" valign="top">
      <tr><td><strong>{0}: </strong></td><td>{1}</td></tr>
      <tr><td><strong>{2}: </strong></td><td>{3}</td></tr>
      <tr><td><strong>Fecha: </strong></td><td>{4}</td></tr>
      <tr><td><strong>Mensaje: </strong></td><td>{5}</td></tr>
    </table>
		]]>
  </body>
  <subject>
    Notificacion de alarma
  </subject>
  <host address="smtpout.secureserver.net" port="25" enableSSL="false" />
  <credentials username="alerta@logictracker.com" password="alertaalerta" />
</mail>