<?xml version="1.0" encoding="utf-8"?>

<mail>
  <from address="alerta@logictracker.com" displayName="Alarmas Logictracker" />
  <to address="mcastro@logictracker.com" />
  <body isHTML="true">
    <![CDATA[
    <table style="font-size: x-small" align="left" valign="top">
      <tr><td><strong>Fleet Status</strong></td></tr>
      <tr><td></td></tr>
      <tr><td>{0}</td></tr>
    </table>
		]]>
  </body>
  <subject>
    Logictracker - Fleet Status Notification
  </subject>
  <host address="smtpout.secureserver.net" port="25" enableSSL="false" />
  <credentials username="alerta@logictracker.com" password="alertaalerta" />
</mail>