<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logicout.handler.betonmac" value="LogicOut.Handlers.Betonmac,LogicOut.Handlers" />
    <add key="username" value="logictracker" />
    <add key="password" value="track!123*" />
    <add key="company" value="FEN" />
    <add key="branch" value="FEN" />
    <add key="interval" value="5" />
    <add key="logfile" value="logictracker.sync.log" />
    <add key="serverurl" value="http://localhost:6606/Logictracker.Web/App_Services/Export.asmx" />
  </appSettings>
</configuration>