
@{
    ViewBag.Title = "Logictracker - " + @Html.ResourceLabel("Labels", "EventsReport");
}

<h2>@Html.ResourceLabel("Labels", "EventsReport")</h2>

<div ng-controller="EventosController">
    <label>{{name}}</label>
</div>
