
@{
    ViewBag.Title = "Logictracker - " + @Html.ResourceLabel("Labels", "EventsReport");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ResourceLabel("Labels", "EventsReport")</h2>

