<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MetaEnabledBehavior" name="Rnr.XSynq.XSynqPublisher">
        <endpoint address="" binding="netTcpBinding" contract="Rnr.XSynq.IXSynqPublisher" />
        <!-- endpoint binding="wsDualHttpBinding" bindingConfiguration=""
                    contract="Rnr.XSynq.IXSynqPublisher" / -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7532/Agent" />
            <!-- add baseAddress="http://localhost:1175/Agent" / -->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaEnabledBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- serviceMetadata httpGetEnabled="true"/ -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime></runtime>
</configuration>